<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerMostrarInfo</servlet-name>
  	<display-name>ControllerMostrarInfo</display-name>
  	<description></description>
  	<servlet-class>com.Kevin.Controller.ControllerMostrarInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerPASO</servlet-name>
  	<display-name>ControllerPASO</display-name>
  	<description></description>
  	<servlet-class>com.Kevin.Controller.ControllerPASO</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerMostrarInfo</servlet-name>
  	<url-pattern>/ControllerMostrarInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerPASO</servlet-name>
  	<url-pattern>/ControllerPASO</url-pattern>
  </servlet-mapping>
</web-app>
